{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device, initial-scale=1.0">
    <title>Faculdade UNES</title>
</head>
<body background="{% static 'home/imagens/fundo.png' %}" >
    <div style="width: 900px; margin: 20px auto;">
        <img src="{% static 'home/imagens/logo.png'%}">
        <a href="#"style="margin-left: 50%;">home</a> |
        <a href="#">quem somos</a> |
        <a href="#">contato</a>
    </div>
    <div style="width: 900px; margin: 0px auto;">
        <img src="{% static 'home/imagens/capa.png' %}">
    <div>
        <h2>Sobre a Universidade</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, eveniet temporibus totam iusto fuga ab labore exercitationem numquam odio sequi error omnis saepe voluptatibus, id aut similique? Animi inventore aut, quia quasi dolorum consequatur id laboriosam accusantium voluptatem! Deleniti nisi debitis, animi quos blanditiis saepe mollitia reiciendis molestiae autem doloremque.
            <div style="width: 900px; margin: 0px auto;">
                <h4 style="text-align: center;">todos os direitos reservados.</h4>
            </div>
</body>
</html>